extends layout

block content
    h1(style="text-align: center;font-size: 4vw;") Thank You
    div(style="text-align: center;top: 15vh;position: relative;font-size: 10vw;")
        strong $ 
        strong#totalAmount 0